node_modules
npm-debug.log
Dockerfile
.dockerignore
docker-compose.yml
.docker
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage
.eslintcache
.DS_Store
.vscode
.idea
*.log
tests/
.phpunit.result.cache
vendor/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache

